{# 继承父网页中的block #}
{% extends 'base.html' %}

{# 替换（重写）名称为header的block #}
{% block title %}
    my blog
{% endblock %}

{# 替换（重写）名称为content的block #}

{% block content %}
    {{ super() }}
    {% if g.user %}
        <form action="{{ url_for('blog.write_article') }}" method="post">
            <table class="form-group">
                <tbody>
                    <tr>
                        发布文章：
                    </tr>
                    <tr>
                        <td class="col-lg-1"><label for="title" >标题：</label></td>
                        <td><input class="form-control" name="title" id="title" placeholder="输入标题" required></td>
                    </tr>
                    <tr>
                        <td class="col-lg-1"><label for="content"></label>内容：</td>
                        <td><textarea class="form-control" name="content" id="content" placeholder="输入内容" required></textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="pull-right"><input type="submit" class="btn btn-default form-group" value="提交"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    {% endif %}
{% endblock %}