{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    {% if g.user %}
    已经登录啦，不要重复登录哦！
    {% else %}
        <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Login">
        </form>
    {% endif %}
{% endblock %}